html {
    display: flex;
    justify-content: center;
    background-color: rgb(65, 65, 65);
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    color:#ffffff ;
    text-decoration: underline;
}

div.titre {
    display: flex;
    justify-content: center;
}

span, p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts, #add-contact-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffc8;
    max-width: 300px;
}



#add-contact-form label, #add-contact-form input, #add-contact-form button {
    display: block;
    margin-bottom: 10px;
}

#add-contact-form button {
    background-color: rgba(76, 175, 79, 0.249);
    color: #fff;
    border: none;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
}

#add-contact-form button:hover {
    background-color: rgb(69, 160, 73);
}

#edit-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffc8;
    max-width: 300px;
}



#edit-form label, #edit-form input{
    display: block;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li button.sup {
    background-color: rgba(247, 41, 41, 0.249);
    color: #fff;
    border: none;
    padding: 0;
    border-radius: 3px;
    cursor: pointer;
    align-self: center;
    margin: 5px;
}

li button.mod {
    background-color: rgba(0, 0, 255, 0.249);
    color: #fff;
    border: none;
    padding: 0;
    border-radius: 3px;
    cursor: pointer;
    align-self: center;
}

button.clear {
    background-color: rgba(58, 58, 58, 0.249);
    color: #fff;
    border: none;
    padding: 0;
    border-radius: 3px;
    cursor: pointer;
    align-self: center;
}

div.contact-buttons {
    display: flex;
    justify-content: center;
}

li button.sup:hover {
    background-color: #d32f2f;
}

li button.mod:hover {
    background-color: #2742ad;
}

button.clear:hover {
    background-color: rgb(58, 58, 58);
}